In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("adult.csv", sep=";")

In [8]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
age = (data.iloc[:,0])

In [ ]:
type(age)

In [ ]:
plt.hist(age,bins=73)
plt.show()

In [ ]:
age.describe()

In [ ]:
income = np.array(pd.DataFrame(data,columns = ['income']))

In [ ]:
plt.hist(income, density=True)
plt.show()

In [ ]:
from fitter import Fitter

In [ ]:
f = Fitter(age, distributions=None)
f.fit()
f.summary()

In [ ]:
f = Fitter(age, distributions=['betaprime', 'burr', 'exponnorm', 'genlogistic', 'gumbel_r', 'invweibel', 'moyal'])
f.fit()
f.summary()

In [ ]:
rich = np.array(pd.DataFrame(data,columns = ['income','age']))

In [ ]:
pd.DataFrame(rich)

In [ ]:
for i in rich
if rich[1,0] == ' <=50K':
    print ('Yay')

In [ ]:
poor = data[data['income'] == ' <=50K']

In [ ]:
rich = data[data['income'] == ' >50K']

In [ ]:
poorvsage = np.array(pd.DataFrame(poor,columns = ['age']))
richvsage = np.array(pd.DataFrame(rich,columns = ['age']))

In [ ]:
(pd.DataFrame(poor,columns = ['age'])).describe()

In [ ]:
(pd.DataFrame(rich,columns = ['age'])).describe()

In [ ]:
plt.figure(1, figsize=(20, 8))
plt.subplot(1,2, 1 )
plt.hist(poorvsage,density=True)
plt.subplot(1,2, 2 )
plt.hist(richvsage,density=True)
plt.show()

In [ ]:
f = Fitter(richvsage, distributions=None)
f.fit()
f.summary()

In [ ]:
f = Fitter(poorvsage, distributions=None)
f.fit()
f.summary()

In [ ]:
poorvsedu = np.array(pd.DataFrame(poor,columns = ['education-num']))
richvsedu = np.array(pd.DataFrame(rich,columns = ['education-num']))

In [ ]:
plt.figure(1, figsize=(20, 8))
plt.subplot(1,2, 1 )
plt.hist(poorvsedu,density=True,bins=15)
plt.subplot(1,2, 2 )
plt.hist(richvsedu,density=True,bins=15)
plt.show()

In [ ]:
poorvsgen = np.array(pd.DataFrame(poor,columns = ['sex']))
richvsgen = np.array(pd.DataFrame(rich,columns = ['sex']))

In [ ]:
plt.figure(1, figsize=(20, 8))
plt.subplot(1,2, 1 )
plt.hist(poorvsgen,density=True)
plt.subplot(1,2, 2 )
plt.hist(richvsgen,density=True)
plt.show()

In [ ]:
data[data['sex']==' Male'].shape

In [ ]:
data[data['sex']==' Female'].shape