In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit 
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
import csv

In [2]:
housing = pd.read_csv("Data/housing.csv")
housing.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Entfernen der NaNs

In [4]:
housing_woNaN = housing.dropna()

In [5]:
housing_woNaN.reset_index(drop=True, inplace=True)

In [6]:
housing_woNaN.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Aufteilung des Datensatzes in Train, Validate und Test mit StratifiedShuffleSplit
#### Attribut "median_income" wird verwendet, um Kategorien zu erzeugen. Die Daten werden dann repräsentativ nach der Kategorie aufgeteilt.

In [7]:
housing_woNaN["income_cat"] = np.ceil(housing["median_income"]/1.5)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
housing_woNaN["income_cat"].where(housing_woNaN["income_cat"]<5, 5.0, inplace = True)

C:\Anaconda\lib\site-packages\pandas\core\generic.py:7620: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [9]:
stratsplit = StratifiedShuffleSplit(n_splits = 1, test_size = 0.3, random_state = 42)
for train_index, validate_index in stratsplit.split(housing_woNaN, housing_woNaN["income_cat"]):
    strat_train_set = housing_woNaN.loc[train_index]
    strat_test_validate_set = housing_woNaN.loc[validate_index]

In [10]:
strat_test_validate_set.reset_index(drop=True, inplace = True)

In [11]:
stratsplit = StratifiedShuffleSplit(n_splits = 1, test_size = 0.5, random_state = 42)
for validate_index, test_index in stratsplit.split(strat_test_validate_set, strat_test_validate_set["income_cat"]):
    strat_validate_set = strat_test_validate_set.loc[validate_index]
    strat_test_set = strat_test_validate_set.loc[test_index]

#### Überprüfen, ob gleichmäßig/repräsentativ aufgeteilt wurde

In [12]:
strat_train_set["income_cat"].value_counts()/len(strat_train_set)

3.0    0.351744
2.0    0.318395
4.0    0.175697
5.0    0.114591
1.0    0.039572
Name: income_cat, dtype: float64

In [13]:
strat_validate_set["income_cat"].value_counts()/len(strat_validate_set)

3.0    0.351713
2.0    0.318434
4.0    0.175856
5.0    0.114519
1.0    0.039478
Name: income_cat, dtype: float64

In [14]:
strat_test_set["income_cat"].value_counts()/len(strat_test_set)

3.0    0.351713
2.0    0.318434
4.0    0.175530
5.0    0.114519
1.0    0.039804
Name: income_cat, dtype: float64

In [15]:
train_set = strat_train_set.drop("income_cat",axis=1)
validate_set = strat_validate_set.drop("income_cat", axis=1)
test_set = strat_test_set.drop("income_cat", axis=1)
train_set.sort_index(inplace=True)
validate_set.sort_index(inplace=True)
test_set.sort_index(inplace=True)

strat_train_set.sort_index(inplace=True)
strat_validate_set.sort_index(inplace=True)
strat_test_set.sort_index(inplace=True)
train_set.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20425,-121.45,39.26,15.0,2319.0,416.0,1047.0,385.0,3.1250,115600.0,INLAND
20427,-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3.7125,116800.0,INLAND
20429,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20431,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20432,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

### Factorizen und OneHotEncoden von kategorischen Merkmalen

In [16]:
def umwandlung_binaer(df):
    # Schaut in DataFrames, welche Spalten Objekte enhalten und speichert sie in objects
    objects = df.select_dtypes(include=[object])
    
    # Speichert Anzahl der Spalten in sum_columns
    sum_columns = len(objects.columns)
    
    # Values aus den Columns werden genommen und zu objects_list hinzugefügt
    objects_list = objects.columns.values.tolist()
        
    df_dropped = df.drop(labels=objects_list, axis=1, errors='ignore')
    
    for column in range(0, (sum_columns)):
        
        cat = objects.iloc[:, column]
        cat_encoded, categories = cat.factorize()
        list_categories = categories.tolist()
        encoder = OneHotEncoder()
        cat_1hot = encoder.fit_transform(cat_encoded.reshape(-1, 1))
        np_cat_1hot = cat_1hot.toarray()
        pd_cat_1hot = pd.DataFrame(np_cat_1hot)
        
        # Columns von pd_cat_1hot sollen heißen wie Objekte in list_categories
        pd_cat_1hot.columns = list_categories
        
        
        df_dropped.reset_index(drop=True, inplace=True)
        df = pd.concat((df_dropped, pd_cat_1hot), axis=1)

    return df

In [17]:
train_set_1hotencoded = umwandlung_binaer(train_set)
validate_set_1hotencoded = umwandlung_binaer(validate_set)
test_set_1hotencoded = umwandlung_binaer(test_set)
train_cat = train_set_1hotencoded.iloc[:,-5:]
validate_cat = validate_set_1hotencoded.iloc[:,-5:]

# dieser Datensatz hat keine Inseln, deswegen -4
test_cat = test_set_1hotencoded.iloc[:,-4:] 
# zu test_cat wird Spalte Island hinzugefügt und mit Nullen aufgefüllt
test_cat["ISLAND"] = np.zeros((3065,1)) 

# Columns werden sortiert, da durch das stratshufflesplit die kategorischen Columns in unterschiedlicher Reihenfolge auftauchen
train_cat.sort_index(axis=1,inplace=True) 
validate_cat.sort_index(axis=1,inplace=True) 
test_cat.sort_index(axis=1,inplace=True) 
validate_cat.head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0        1.0     0.0     0.0       0.0         0.0
1        1.0     0.0     0.0       0.0         0.0
2        1.0     0.0     0.0       0.0         0.0
3        1.0     0.0     0.0       0.0         0.0
4        0.0     1.0     0.0       0.0         0.0

### Standardisieren der numerischen Attribute

In [18]:
train_set_num = train_set.drop("ocean_proximity", axis=1)
validate_set_num = validate_set.drop("ocean_proximity", axis=1)
test_set_num = test_set.drop("ocean_proximity", axis=1)

In [19]:
def std_scaler(df):
    scaler = StandardScaler(copy=True, with_mean=True, with_std = True)
    scaler.fit(df)
    df_scaled = scaler.transform(df)
    df_scaled_pd = pd.DataFrame(df_scaled, columns=df.columns)
    return df_scaled_pd

In [20]:
train_set_num_scaled = std_scaler(train_set_num)
validate_set_num_scaled = std_scaler(validate_set_num)
test_set_num_scaled= std_scaler(test_set_num)

In [21]:
train_cat.sort_index(inplace=True)
validate_cat.sort_index(inplace=True)
test_cat.sort_index(inplace=True)

In [22]:
train_set_num.sort_index(inplace=True)
validate_set_num.sort_index(inplace=True)
test_set_num.sort_index(inplace=True)

In [23]:
test_set_num_scaled.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
3060,-0.716249,0.928445,1.721560,-0.887253,-0.843878,-0.862921,-0.803945,-1.085369,-1.194144
3061,1.231486,-0.962443,-1.803746,-0.354092,-0.604067,-0.605427,-0.668130,0.267384,0.873481
3062,0.630642,-0.670468,1.801681,-0.518764,-0.714380,-0.750544,-0.709919,0.263010,1.089293
3063,-1.241987,0.794044,-0.682058,-0.287503,-0.546512,-0.590385,-0.503584,1.560380,1.529621
3064,0.725776,-0.730717,-0.842299,-0.020697,0.431918,0.696198,0.522867,-0.818623,-0.129874

In [24]:
train_cat.tail()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
14298        0.0     1.0     0.0       0.0         0.0
14299        0.0     1.0     0.0       0.0         0.0
14300        0.0     1.0     0.0       0.0         0.0
14301        0.0     1.0     0.0       0.0         0.0
14302        0.0     1.0     0.0       0.0         0.0

### Zusammenführen der numerischen und kategorischen Datensätze

In [25]:
train = pd.concat((train_set_num_scaled, train_cat),axis=1)
x_train = train.drop("median_house_value", axis=1)

validate = pd.concat((validate_set_num_scaled, validate_cat),axis=1)
x_validate = validate.drop("median_house_value", axis=1)

test = pd.concat((test_set_num_scaled, test_cat),axis=1)
x_test = test.drop("median_house_value", axis=1)

In [26]:
x_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,0.981134,-0.818773,-0.842299,1.707466,1.496680,2.019060,1.593720,0.208786,0.0,1.0,0.0,0.0,0.0
1,0.815903,-0.786331,-0.041093,0.453974,0.427122,0.341370,0.402723,0.183967,1.0,0.0,0.0,0.0,0.0
2,-1.156867,0.747699,-1.963987,-0.070639,0.561416,-0.195738,0.334815,-0.048211,1.0,0.0,0.0,0.0,0.0
3,0.595593,-0.781696,-1.883866,1.934678,3.647788,1.908452,2.776882,-0.403064,1.0,0.0,0.0,0.0,0.0
4,0.450389,-0.559239,-1.563384,-0.134528,-0.172407,0.107768,-0.305085,-0.053164,0.0,1.0,0.0,0.0,0.0

In [27]:
y_train = strat_train_set["median_house_value"]
y_validate = strat_validate_set["median_house_value"]
y_test = strat_test_set["median_house_value"]
y_train.tail()

20425    115600.0
20427    116800.0
20429     77100.0
20431     84700.0
20432     89400.0
Name: median_house_value, dtype: float64

In [28]:
y_validate.tail()

6116    321500.0
6117    106900.0
6120    346700.0
6126    305100.0
6129    154100.0
Name: median_house_value, dtype: float64

In [29]:
y_test.tail()

6123     70000.0
6124    307600.0
6125    332400.0
6127    383000.0
6128    192300.0
Name: median_house_value, dtype: float64

### Exportieren der Daten in csv-Format

#### Train

In [30]:
train.to_csv('Data/housing_train.csv', index=False)

In [31]:
x_train.to_csv('Data/housing_x_train.csv', index=False)

In [32]:
y_train.to_csv("Data/housing_y_train.csv", index=False)

#### Validate

In [33]:
validate.to_csv("Data/housing_validate.csv",index=False)

In [34]:
x_validate.to_csv("Data/housing_x_validate.csv",index=False)

In [35]:
y_validate.to_csv("Data/housing_y_validate.csv",index=False)

#### Test

In [36]:
test.to_csv("Data/housing_test.csv",index=False)

In [38]:
x_test.to_csv("Data/housing_x_test.csv",index=False)

In [39]:
y_test.to_csv("Data/housing_y_test.csv",index=False)

In [40]:
from sklearn.ensemble import RandomForestRegressor

In [41]:
randomForest = RandomForestRegressor()

In [42]:
randomForest.fit(x_train,y_train)
y_predict_train = randomForest.predict(x_train)
y_predict_train

array([442240. , 377050.1, 346000. , ...,  78570. ,  84180. ,  89390. ])

In [43]:
y_predict_validate = randomForest.predict(x_validate)
y_predict_validate

array([254190., 500001., 291160., ..., 354080., 333680., 148780.])

In [46]:
y_predict_test = randomForest.predict(x_test)
y_predict_test

array([162480. , 205900. , 220680. , ..., 259760.1, 361760.1, 189510. ])

In [52]:
from sklearn.metrics import mean_squared_error

In [48]:
mse_train = mean_squared_error(y_train,y_predict_train)
mse_train

474567877.3221646

In [49]:
rmse_train = np.sqrt(mse_train)
rmse_train

21784.578887877648

In [50]:
mse_validate = mean_squared_error(y_validate,y_predict_validate)
mse_validate

3130584043.9981365

In [51]:
rmse_validate = np.sqrt(mse_validate) # rmse_validate=77541.455
rmse_validate

55951.6223535845

In [54]:
mse_test = mean_squared_error(y_test,y_predict_test) 
mse_test

2875638118.9723554

In [55]:
rmse_test = np.sqrt(mse_test)# rmse_test = 75848,337
rmse_test

53624.97663376979