In [3]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import torch
import torch.nn as nn

dtype = torch.float
device = torch.device("cpu")

In [8]:
# Importieren der housing-Daten
# Traindaten
x_train = pd.read_csv("data/housing/housing_x_train.csv")
y_train = pd.read_csv("data/housing/housing_y_train.csv")

# Validatedaten
x_validate = pd.read_csv("data/housing/housing_x_validate.csv")
y_validate = pd.read_csv("data/housing/housing_y_validate.csv")

# Testdaten
x_test = pd.read_csv("data/housing/housing_x_test.csv")
y_test = pd.read_csv("data/housing/housing_y_test.csv")

In [13]:
y_train.head()

   452600.0
0  352100.0
1  341300.0
2  342200.0
3  269700.0
4  299200.0