In [22]:
import numpy as np
import pandas as pd

In [23]:
pd.Series([2,6,10])
# äquivalent zu einem eindimensionalem numpy-array

0     2
1     6
2    10
dtype: int64

In [24]:
pd.Series([2,6,10], index=["a","b","c"])
# durch index wird das integer-basierte Indexing wie im Beispiel oben durch "a", "b" und "c" ersetzt

a     2
b     6
c    10
dtype: int64

In [28]:
# Wenn man nur auf bestimmte Elemente zugreifen möchte
s1 = pd.Series([2,6,10], index=["a","b","c"])
s1 ["a"] # s1 wird zwar der ganzen Serie zugeordnet, aber da nur "a" in den Klammern steht, wird nur der Wert für "a" abgerufen

2

In [32]:
# Wenn mann mehr als einen Wert abrufen möchte:
s1 = pd.Series([2,6,10], index = ["a", "b", "c"])
s1[["a","c"]]

a     2
c    10
dtype: int64

In [33]:
# Alternative Schreibweise für Zuordnung der Buchstaben zu den Werten
pd.Series({"a1": 5, "b1":7, "c1":4 })

a1    5
b1    7
c1    4
dtype: int64

In [34]:
# Zuordnung von Text zu den Buchstaben statt nur Zahlen
pd.Series ({"a1":"Hello", "b1":7, "c1":True})

a1    Hello
b1        7
c1     True
dtype: object

In [36]:
#
s1 = pd.Series([1,3,5], index=["a","b","c"])
s2 = pd.Series([2,7,9], index=["b","c","d"])

In [39]:
s1

a    1
b    3
c    5
dtype: int64

In [40]:
s2

b    2
c    7
d    9
dtype: int64

In [41]:
s1 * s2

a     NaN
b     6.0
c    35.0
d     NaN
dtype: float64

In [42]:
# a: NaN der Wert 1 von a bei s1 kann nicht mit einer Zahl bei s2 multipliziert werden
# b: 3 * 2 = 6
# c: 5 * 7 = 35
# d: NaN, da kein Wert für d in s1 vorhanden ist

In [43]:
# Analog für Substraktion
s1 - s2

a    NaN
b    1.0
c   -2.0
d    NaN
dtype: float64